/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
.flex {
    display: flex;   
}
.container {
    height: calc(100vh - 90px);
    overflow-y: hidden;
}
.p-relative {
    position: relative;
}
.btn {
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
/* main nav */
.main-nav {
    background-color: black;    
    width: 230px;
}
.main-nav > .nav-container {
    width: 100%;
    padding: 20px 20px 15px 20px;
    flex-direction: column;
    height: 100%;
}
/* main nav top */
.nav-container > .top > img {
    height: 40px;
    margin-bottom: 30px;
}
.nav-container > .top > ul {
    list-style: none;
    margin-bottom: 30px;
}
.nav-container > .top li {
    margin-bottom: 12px;
}
.nav-container > .top li img, .nav-container > .center-bottom  a > img {
    height: 30px;
    vertical-align: middle;
    opacity: 0.5;
}
.nav-container > .top a, .nav-container > .center-bottom a {
    text-decoration: none;
    color: #6d6d6d;
    font-size: 15px;
    font-weight: 600;
}
/* li hover */
.nav-container > .top li a:hover img, .nav-container > .center-bottom a:hover img {
    opacity: unset;
}
.nav-container > .top li a:hover, .nav-container > .center-bottom a:hover {
    color: #fff;
}
/* li speciale */
li.special a {
    color: #fff;
}
.nav-container > .top li.special img {
    opacity: 0.8;
}
li.special {
    border-left: 3px solid #adff2f;
    padding-left: 17px;
    transform: translate(-20px);
}
/* main nav center */
.nav-container > .center-bottom {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow-y: hidden;
}
.center-bottom > .center {
    flex-direction: column;
    overflow-y: hidden;
}
.nav-container > .center-bottom h4 {
    color: #fff;
}
/* button playlist */
.btn.playlist {
    margin: 15px 0 25px;
    font-weight: 600;
    font-size: 16px;
    color: #6d6d6d;
    text-align: left;
}
.btn.playlist::before {
    font-family: 'Font Awesome 5 free';
    content: "\f067";
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 25px;
    color: #000;
    background-color: #a3a3a3;
    padding: 10px 13px;
}
.btn.playlist:hover{
    color: #fff;
}
.btn.playlist:hover::before {
    background-color: #fff;
}
.nav-container > .center-bottom .ul-scroll > li:not(:last-child) {
    margin-bottom: 15px;
}
.nav-container > .center-bottom ul.ul-scroll {
    margin-bottom: 0;
    overflow-y: auto;
}
/* main nav bottom */
.nav-container .bottom > a {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #6d6d6d;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.nav-container .bottom > a > img {
    height: 20px;
    vertical-align: middle;
}
.nav-container .bottom > .profile {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
.profile > .image {
    display: inline-block;
    height: 28px;
    width: 28px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: #a3a3a3;
    border-radius: 50%;
    overflow: hidden;
}

/* header */
.header-main-container {
    width: calc(100% - 230px);
}
header {
    height: 90px;
    width: calc(100% - 230px);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    align-items: center;
    justify-content: flex-end;
}
header > .btn {
    margin-right: 25px;
    padding: 15px 40px;
    border: 1px solid #fff;
    border-radius: 25px;
    font-weight: bold;
    transition: transform 0.05s;
}
header > button:hover {
    transform: scale(1.1);
}

/* main */
main {
    background-color: #141922;
    width: 100%;
    height: 100%;
    padding: 112px 22px 22px;
    overflow-y: auto;
}
/* footer */
footer {
    height: 90px;
    background-color: #282828;
}
